.user-controls{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.cards{
    display: flex;
    flex-direction: row;
}
.card1, .card2, .card3, .card4, .card5{
    padding-left: 50px;
    padding-right: 50px;
    height: 200px;
    background-color: darkgray;
    color: white;
    padding-top: 60px;
    font-family: 'Lobster', cursive;
}
body{
    display: flex;
}
h2{
    font-family: 'Lobster', cursive;
}