.user-controls{
    display: flex;
    justify-content: space-evenly;
}
.cards{
    display: flex;
    flex-direction: row;
}
.card1, .card2, .card3, .card4, .card5{
    padding: 200px 50px 100px 50px;
    height: 200px;
    width: 75px;
    text-align: center;
    background-color: darkgray;
    color: white;
    font-family: 'Lobster', cursive;
    margin-right: 30px;
    margin-top: 30px;
    box-shadow: 5px 10px black;
    opacity: 0.9;
}
body{
    background-image: url('./assets/fabian-wiktor-MBKFuFqlMwo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
}
h2{
    font-family: 'Lobster', cursive;
}
.notebook{
    background-color: white;
    border: 1px solid black;
}
button{
    border-radius: 25px;
    padding: 10px 25px;
    margin-bottom: 25px;
}
.left{
    display: flex;
    flex-direction: column;
}
.right{
    display: flex;
    justify-content: end;
}
footer{
    text-align: center;
    color: whitesmoke;
}
.form-container{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px){
    .user-controls{
        flex-direction: column;
        justify-content: center;
    }
    .cards{
        display: none;
    }
    .container{
        flex-direction: column;
    }
    button{
        padding: 5px 15px;
        margin-bottom: 15px;
    }
    .right{
        justify-content: center;
    }
    .form-container{
        flex-wrap: wrap;
        width: 150px;
        margin-left: 125px;
        margin-bottom: 25px;;
    }
}